/* COLORS */

/* 
    WHITE #fefefd neutral background
    YELLOW #f1b501 header u
    CYAN #44c1ce header
    GREY2 #515150 footer u
    BLACK #606160 footer
    UNKNOWN6 #fab796 good
    PINKISH #eb5454 good
    SKIN #fdbb95 good
    VOILET #5041a1 good
    RED #ce2f35 
    BLUE #005597
    GREY #7a7b7a
    CHOCOLATE #3b2a27
    GREEN #5aca1c
    UNKNOWN #61a6a2
    BROWN #bfb48d
    GREEN2 #3ba271
    UNKNOWN2 #193951
    UNKNOWN3 #577c9a
    UNKNOWN4 #8c7d60
    UNKNOWN5 #00344e
    RED2 #aa201f
*/

/* EVERYTHING */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1rem;
}


/* HEADER SECTION */

/* ID'S */

#header-section {
    background-color: #f1b501;
    color: #fefefd;
    padding: 3rem 5rem;
}

/* CLASSES */
.nav-logo {
    font-size: 3rem;
    display: inline;
}

.nav-menu {
    display: inline;
    float: right;
}

.nav-menu-item {
    display: inline-block;
    list-style: none;
    padding: 0.6rem;
}

.nav-menu-link {
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
}

.nav-menu-link:hover {
    text-decoration: none;
    color: #fefefda6;
}

/* NAME */
/* CONTENT SECTION */

/* WELCOME SECTION */

/* ID'S */
#welcome-section {
    padding: 3rem 5rem;
    color: #fefefd;
    background-color: #f1b501;
}

/* CLASSES */
.welcome-box {
    width: 100%;
}

.welcome-text {
    font-size: 5rem;
    font-weight: 200;
    width: 45%;
    display: inline-block;
}

.welcome-image {
    display: inline-block;
    width: 50%;
    height: auto;
}

/* NAME */

/* ABOUT ME SECTION */

/* ID'S */
#about-section {
    padding: 5rem 5rem;
    color: #f1b501;
    background-color: #fefefd;
}

/* CLASSES */
.about-text {
    font-size: 3rem;
    font-weight: 200;
}

/* NAME */


/* PROJECTS SECTION */

/* ID'S */
#projects-section {
    background-color: #fefefd;
    color: #fefefd;
    padding: 3rem 7rem;
}

/* CLASSES */
.project {
    background-color: #88CC77;
    margin: 3rem 0;
    padding: 1.5rem 4rem;
    border-radius: 50px;
    width: 100%;
}

.project-image {
    float: left;
    width: 25%;
}

.project-text {
    display: inline-block;
    width: 75%;
}

.project-name {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.project-desc {
    font-size: 1rem;
    font-weight: 200;
    padding: 1rem 5rem 0 0;
}

/* NAME */


/* FOOTER SECTION */

/* ID'S */
#footer-section {
    background-color: #515150;
    color: #fefefd;
    padding: 2rem 5rem;
}

/* CLASSES */

.social-links {
    padding: 2rem 3rem;
    text-align: center;
}

.social-link {
    font-size: 1.4rem;
    font-weight: 300;
    text-decoration: none;
    color: inherit;
    padding: 0 1rem;
}

.copyright-part {
    padding: 0 3rem;
    text-align: center;
}

.copyright-text {
    font-size: 1.1rem;
    font-weight: 300;
    color: inherit;
}

/* NAME */

/* TABLET MEDIA QUERIES */

@media (max-width: 786px) {
    #header-section {
        padding: 2rem 3rem;
    }

    .nav-logo {
        font-size: 2.3rem;
    }

    .nav-menu-item {
        padding: 0.3rem;
    }
     
    .nav-menu-link {
        font-size: 1.2rem;
    }

    #welcome-section {
        padding: 2rem 3rem;
    }

    .welcome-text {
        font-size: 3rem;
    }

    #about-section {
        padding: 2rem 3rem;
    }

    .about-text {
        font-size: 2rem;
    }

    #projects-section {
        padding: 3rem 4rem;
    }
        
    .project {
        margin: 2rem 0;
        padding: 1.5rem 2.5rem;
    }

    .project-name {
        font-size: 1.5rem;
        padding-bottom: 0;
    }

    .project-description {
        padding: 1rem 2rem 0 0;
    }

    
    .social-links {
        padding: 1.5rem 3rem;
    }

    .social-link {
        font-size: 1.2rem;
        padding: 0 0.6rem;
    }

    .copyright-text {
        font-size: 1rem;
    }
    
}

/* MOBILE MEDIA QUERIES */


@media (max-width: 525px) {
    #header-section {
        padding: 1.5rem 2rem;
    }

    .nav-logo {
        font-size: 2rem;
        display: block;
        text-align: center;
        padding-bottom: 1rem;
    }

    .nav-menu {
        display: block;
        float: none;
    }

    .nav-menu-item {
        display: block;
        padding: 0.6rem;
        text-align: center;
    }
     
    .nav-menu-link {
        font-size: 1.2rem;
    }

    #welcome-section {
        padding: 1rem 1.5rem;
    }

    .welcome-text {
        font-size: 2rem;
        font-weight: 600;
        width: 100%;
        display: block;
    }

    .welcome-image {
        width: 100%;
        display: block;
    }

    #about-section {
        padding: 1rem 1.5rem;
    }

    .about-text {
        font-size: 1.5rem;
    }

    #projects-section {
        padding: 2rem 3rem;
    }
        
    .project {
        margin: 2rem 0;
        padding: 1rem 1.5rem;
    }

    .project-image {
        float: none;
        display: block;
        width: 100%;
        padding: 1rem;
    }

    .project-text {
        width: 100%;
        display: block;
    }

    .project-name {
        font-size: 1.5rem;
        padding-bottom: 0;
        text-align: center;
    }

    .project-desc {
        padding: 1rem;
    }

    #footer-section {
        padding: 1rem;
    }
    
    .social-links {
        padding: 1rem;
    }

    .social-link {
        font-size: 1rem;
        padding: 0 0.3rem;
    }

    .copyright-part {
        padding: 0.3rem;
        text-align: center;
    }

    .copyright-text {
        font-size: 0.8rem;
    }
    
}
